<p>
  Welcome {{username}}
</p>
<div *ngIf="groupadmin||superadmin">
<p>Admin:{{role}} </p>
<div class="form-group">
  <label for="groups">
    Group
  </label>
<select id="group" name="group" [(ngModel)]='selectgroup' class="form-control">
<option *ngFor="let opt of group" [value]="opt">{{ opt }} </option>
</select>
</div>
<div class="form-group">
  <label for="channels">
    Channels
  </label>
<select id="channel" name="channel" [(ngModel)]='channel' class="form-control" (change)="onEditClick($event.target.value)">
<option *ngFor="let channel of channels" [value]="channel">{{ channel }} </option>
</select>
</div>
<button (click)="OnCreateGroup()">Create a Group</button>
<button (click)="OnCreateChannel()">Create a Channel</button>
<button (click)="OnCreateUser()">Manage Users</button>
<button (click)="OnRemove()">Remove Controls</button>
</div>
<button (click)="OnLogOut()">Log out</button>
<button (click)="OnChat()">Goto Chat</button>
<button (click)="OnHistory()">Channel History</button>
